/************Reset**************/
* { 
     margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol, ul { 
	float:left;
    list-style: none;
    margin: 0;
    padding: 0;
} 



.top{
    width: 100%;
    height: 80px;
    background-color: #232323;
    
}

.logo{
    width: 300px;
    height: 80px;
    margin-left: 20px;
    float:left;
}

.logo_img{
    margin-left: 100px;
    float:left;
}

.logo_title{
    font-size: 50px;
    color: white;
}
.logo_subtitle{
    font-size: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.680em;
    line-height: 0.75;
}

.logo_pos{
    float: right;
    margin-right: 150px;
}
.pos_title{
    color: #FFFFFF;
    font-size: 50px;
    font-style: italic;
    line-height: 80px;
    vertical-align: middle;
    letter-spacing: 0.3em;
}
body {
    line-height: 1;
    font-family: 'PT Sans Narrow', sans-serif;
}
.content{
    border: 1px solid #000000;
    margin: 2%;
    height: 730px;
    width: 1750px;
    padding: 2%;
    background-color: #d0d0d0;
}

#canvas {
    border: 1px solid #000000;
    float:left;
}

.right-bar {
    float: right;
    width: 300px;
    background-color: #f2f2f2;
}

.right-bar-List {
    height: 100px;
    border: 1px solid;
    margin: 5%;
}
.right-bar-List button{ 
    width: 100%;
    height: 100%;
    background-color: #232323;
    color: white;
    font-weight: bold;
    font-size: 35px;
}
#left-list{
	float: left;
}

#table {
	border-spacing:40px 5px;
	text-align: center;
}
#view-left{
	float: left;
	
}
.table table-striped{
	margin: 500px
}
.view-left{
	margin-top:7%;
	float: left;
}
.detail-talbe{
	padding-top: 15%; 	
	margin-left: 20px;
}
.detail-talbe td{
	padding: 20px;
	border-bottom: 1px solid #b6b6b6;
}

