@charset "UTF-8";



/*********************************
1. Order Main 페이지 
*********************************/

.shopping-basket {
	position: fixed;
	bottom: 100;
	transform : translateY(-50%);
	right: 0;
	z-index:100;
	font-size: larger;
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 10px;
	background: #282828;
	
}

.shopping-basket-inner {
	border-radius: 10px;
	margin: 10px;
	border:  2px solid #8c7c74;
}

.user-photo,
.user-name {
  float: left;
}
.user-photo {
  position: relative;
  margin: 8px 12px;
}
.user-photo img {
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.user-status {
  position: absolute;
  left: 20px;
  top: 15px;
  width: 20px;
  height: 20px;
  box-sizing: content-box;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #282828;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}



/*********************************
2. Detail 페이지 
*********************************/

.shopping-detail {
	margin: 0 auto;
	width: 500px;
}

.detail-qty {
	display: inline;
	float: left;
	
}

.detail-qty-form {
	width: 100px;
	margin: 20px;
}

.shopping-detail-flag-container {
	width: 150px;
	height: 30px;
    background: #282828;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px 10px 0 0 ;
    text-align: center;
    
}

.shopping-detail-flag {
	border:  2px solid #8c7c74;
}

.shopping-detail-flag-text {
	color: white;
	font-weight: bold;
	background: #282828;
	height: 40px;
}